@media (max-width: 768px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    @media (prefers-reduced-motion: no-preference) {
         :root {
            scroll-behavior: smooth;
        }
    }
    body {
        margin: 0;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        overflow-y: auto;
        background-attachment: fixed, fixed;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    ol,
    ul {
        padding-left: 2rem;
    }
    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    ol ol,
    ul ul,
    ol ul,
    ul ol {
        margin-bottom: 0;
    }
    a {
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        color: #5b79c6;
    }
    p {
        margin-top: 0;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .container,
    .container-sm {
        max-width: 540px;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .col {
        flex: 1 0 0%;
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-1 {
        flex: 0 0 auto;
        width: 8.33333%;
    }
    .col-2 {
        flex: 0 0 auto;
        width: 16.66667%;
    }
    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 33.33333%;
    }
    .col-5 {
        flex: 0 0 auto;
        width: 41.66667%;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-7 {
        flex: 0 0 auto;
        width: 58.33333%;
    }
    .col-8 {
        flex: 0 0 auto;
        width: 66.66667%;
    }
    .col-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-10 {
        flex: 0 0 auto;
        width: 83.33333%;
    }
    .col-11 {
        flex: 0 0 auto;
        width: 91.66667%;
    }
    .col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .g-4,
    .gy-4 {
        --bs-gutter-y: 1.5rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 200px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #b9cbfc;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(114, 151, 248, 0.25);
    }
    .form-floating {
        position: relative;
    }
    .form-floating>.form-control,
    .form-floating>.form-select {
        line-height: 1.25;
    }
    .form-floating>label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem 0.75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }
    .form-floating>.form-control {
        padding: 1rem 0.75rem;
    }
    .form-floating>.form-control::placeholder {
        color: transparent;
    }
    .form-floating>.form-control:focus~label,
    .form-floating>.form-control:not(:placeholder-shown)~label,
    .form-floating>.form-select~label {
        opacity: 0.65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .text-danger {
        color: #ffffff !important;
        font-size: 20px;
    }
    .btn:hover {
        color: #212529;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        color: #ffffff;
    }
    .d-inline-block {
        display: inline-block !important;
    }
    .d-block {
        display: block !important;
    }
    .d-flex {
        display: flex !important;
    }
    .shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    .justify-content-start {
        justify-content: flex-start !important;
    }
    .justify-content-end {
        justify-content: flex-end !important;
    }
    .justify-content-center {
        justify-content: center !important;
    }
    .justify-content-between {
        justify-content: space-between !important;
    }
    .justify-content-around {
        justify-content: space-around !important;
    }
    .justify-content-evenly {
        justify-content: space-evenly !important;
    }
    .align-items-start {
        align-items: flex-start !important;
    }
    .align-items-end {
        align-items: flex-end !important;
    }
    .align-items-center {
        align-items: center !important;
    }
    .align-items-baseline {
        align-items: baseline !important;
    }
    .align-items-stretch {
        align-items: stretch !important;
    }
    .align-content-start {
        align-content: flex-start !important;
    }
    .align-content-end {
        align-content: flex-end !important;
    }
    .align-content-center {
        align-content: center !important;
    }
    .align-content-between {
        align-content: space-between !important;
    }
    .align-content-around {
        align-content: space-around !important;
    }
    .align-content-stretch {
        align-content: stretch !important;
    }
    .align-self-auto {
        align-self: auto !important;
    }
    .align-self-start {
        align-self: flex-start !important;
    }
    .align-self-end {
        align-self: flex-end !important;
    }
    .align-self-center {
        align-self: center !important;
    }
    .align-self-baseline {
        align-self: baseline !important;
    }
    .align-self-stretch {
        align-self: stretch !important;
    }
    .mb-0 {
        margin-bottom: 0 !important;
    }
    .mb-1 {
        margin-bottom: 0.25rem !important;
    }
    .mb-2 {
        margin-bottom: 0.5rem !important;
    }
    .mb-3 {
        margin-bottom: 1rem !important;
    }
    .mb-4 {
        margin-bottom: 1.5rem !important;
    }
    .mb-5 {
        margin-bottom: 3rem !important;
    }
    .text-center {
        text-align: center !important;
    }
    .main-container {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }
    .form-control,
    .form-select {
        border: 0 none;
        border-radius: 10px;
    }
    .form-floating>label {
        opacity: 1 !important;
        padding-left: 20px;
        color: #0C9869;
        font-size: 14px;
    }
    .tooltip-btn {
        background: none;
        border: 0;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -18px;
        right: 0px;
        display: none;
    }
    .filter {
        position: fixed;
        z-index: 999;
        width: 280px;
        right: -300px;
        top: 0;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
    }
    .filter-open .filter {
        right: 0;
    }
     ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .menu {
        padding: 130px 15px 0 15px;
        /* position: fixed;
        z-index: 999; */
    }
    .menuswiper .swiper-wrapper .swiper-slide {
        width: 70px;
        padding: 0;
        text-align: center;
    }
    .menuswiper .swiper-wrapper .swiper-slide .menuname {
        font-size: 12px;
        line-height: 40px;
        font-weight: 700;
        color: #0C9869;
    }
    .menuswiper .swiper-wrapper .swiper-slide a {
        text-decoration: none
    }
    .card {
        border: none;
        border-radius: 10px;
        background-color: transparent;
        color: #000000;
    }
    .card>div {
        z-index: 1;
    }
    .kategorilowongan {
        padding: 8px 0 0 15px;
    }
    .categoriesswiper .swiper-wrapper .swiper-slide {
        width: 70px;
        padding: 0;
        text-align: center;
    }
    .categoriesswiper .swiper-wrapper .swiper-slide img {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }
    .categoriesswiper .swiper-wrapper .swiper-slide .categoryname {
        font-size: 10px;
        padding-top: 10px;
    }
    #top {
        z-index: 999;
        top: 0;
        position: fixed;
    }
    .top {
        background-color: #055160;
        height: 260px;
        border-radius: 0 0 28px 28px;
    }
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .top .top-logo {
        padding: 20px;
        text-align: center;
    }
    .top .top-logo .info-login i {
        font-size: 20px;
        padding: 100px 0 0 100px;
    }
    .top .top-logo .info-login i:hover {
        font-size: 20px;
        padding: 100px 0 0 100px;
        color: #20c997;
    }
    .top .konten-halokerja {
        text-align: left;
        color: #fff;
    }
    .top .konten-halokerja h2 {
        font-size: 18px;
        font-weight: bold;
        width: 250px;
    }
    .top .konten-halokerja p {
        font-size: 14px;
    }
    .top .img-logo img {
        width: 100%;
    }
    .top .cari-lowongam .filter-btn {
        width: 60px;
        background-color: #fff;
        border: 0;
        border-radius: 12px;
        height: 50px;
        color: #0C9869;
    }
    .filter {
        background-color: #055160;
    }
    .filter .card-header h6 {
        color: #fff;
        font-size: 16px;
        padding: 12px 0 0 30px;
    }
    .filter .card-body h6 {
        color: #fff;
        font-size: 14px;
    }
    .filter .btn-filter .filter-button {
        color: #fff;
        background-color: #f7003b;
        width: 230px;
        border-radius: 8px;
    }
    .hero {
        padding: 8px 0;
    }
    .hero .promo-item img {
        width: 100%;
    }
    .hero .swiper-pagination {
        margin-top: -20px;
        position: relative;
    }
    .hero .swiper-pagination .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #0C9869;
    }
    .hero .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #0C9869;
    }
    .lowonganpremium {
        text-align: left;
        padding-top: 30px;
        overflow: hidden;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium {
        padding: 20px 15px;
        border: 1px solid transparent;
        transition: 0.3s;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .apply_now .btn-detaillowongan {
        border-radius: 4px;
        padding: 10px 12px;
        border: 0;
        background-color: #f7003b;
        font-size: 7px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        width: 100px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .apply_now .btn-detaillowongan:hover {
        background-color: #157d8f;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .apply_now {
        padding-top: 90px;
    }
    .lowonganpremium {
        padding-bottom: 50px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .thumb img {
        width: 65px;
        padding: 0 5px 5px 5px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .thumb {
        float: left;
        height: 80px;
        width: 100px;
        border-radius: 5px;
        padding: 15px;
        background: #F5F7FA;
        margin-right: 25px;
        border: 1px solid #F0F0F0;
        justify-content: center;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .date {
        text-align: left;
        margin-top: 10px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kiri .date p {
        margin-bottom: 10px;
        font-size: 8px;
        font-style: italic;
        color: #7A838B;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan {
        padding-left: 10px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .konten-lowongan .links_locat .nama-perusahaan h2 {
        font-size: 10px;
        margin-bottom: 2px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .konten-lowongan .links_locat .nama-loker h4 {
        font-size: 12px;
        margin-bottom: 6px;
        font-weight: 600;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .links_locat .kategori p {
        font-size: 10px;
        margin-bottom: 2px;
        font-weight: 400;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .links_locat .kategori i {
        font-size: 10px;
        color: #0C9869;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags {
        margin-bottom: -10px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags ul {
        list-style: none;
        padding: 0;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags ul li {
        display: inline-block;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags ul a {
        color: #fff;
        background-color: #f7003b;
        font-size: 8px;
        padding: 3px 5px;
        margin: 0 6px 8px 0;
        display: inline-block;
        transition: 0.3s;
        border-radius: 2px;
        text-decoration: none;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags ul a:hover {
        color: #fff;
        background: #23A2B8;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium .bagian-kanan .tags ul a span {
        padding-left: 5px;
        color: #a5c5fe;
        font-size: 14px;
    }
    .lowonganpremium .lowonganpremium-slider .item-lowongan-premium:hover {
        border-color: #23A2B8;
    }
    .partnership {
        text-align: center;
    }
    .partnership-slider {
        padding: 10px 10px;
    }
    .partnership .partnership-slider {
        padding: 10px;
        border: 1px solid transparent;
        transition: 0.3s;
        border-radius: 5px;
    }
    .partnership .partnership-slider .swiper-wrapper .swiper-slide .img-promo img {
        width: 100%;
        padding: 10px 20px;
    }
    .section-headerlowongan {
        text-align: left;
        width: 100%;
        background-size: cover;
        background-color: #15464E;
        padding: 10px 5px 5px 20px;
    }
    .section-headerlowongan h2 {
        font-size: 10px;
        color: #fff;
        font-weight: 700;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .apply_now .btn-detaillowongan {
        border-radius: 4px;
        padding: 10px 12px;
        border: 0;
        background-color: #0C9869;
        font-size: 7px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        width: 100px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .apply_now .btn-detaillowongan:hover {
        background-color: #157d8f;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .apply_now {
        padding-top: 90px;
    }
    .lowongankerja-biasa {
        padding-bottom: 50px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .thumb img {
        width: 65px;
        padding: 0 5px 5px 5px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .thumb {
        float: left;
        height: 80px;
        width: 100px;
        border-radius: 5px;
        padding: 15px;
        background: #F5F7FA;
        margin-right: 25px;
        border: 1px solid #F0F0F0;
        justify-content: center;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .date {
        text-align: left;
        margin-top: 10px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kiri .date p {
        margin-bottom: 10px;
        font-size: 8px;
        font-style: italic;
        color: #7A838B;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan {
        padding: 10px;
        margin-bottom: 12px;
        border: 1px solid transparent;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #EFF5F4;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .konten-lowongan .links_locat .nama-perusahaan h2 {
        font-size: 10px;
        margin-bottom: 2px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .konten-lowongan .links_locat .nama-loker h4 {
        font-size: 12px;
        margin-bottom: 6px;
        font-weight: 600;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .links_locat .kategori p {
        font-size: 10px;
        margin-bottom: 2px;
        font-weight: 400;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .links_locat .kategori i {
        font-size: 10px;
        color: #0C9869;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags {
        margin-bottom: -10px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags ul {
        list-style: none;
        padding: 0;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags ul li {
        display: inline-block;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags ul a {
        color: #fff;
        background-color: #15464E;
        font-size: 8px;
        padding: 3px 5px;
        margin: 0 6px 8px 0;
        display: inline-block;
        transition: 0.3s;
        border-radius: 2px;
        text-decoration: none;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags ul a:hover {
        color: #fff;
        background: #23A2B8;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan .bagian-kanan .tags ul a span {
        padding-left: 5px;
        color: #a5c5fe;
        font-size: 14px;
    }
    .lowongankerja-biasa .list-lowongan .item-lowongan:hover {
        border-color: #23A2B8;
    }
    .lowongankerja-biasa .list-lowongan {
        padding: 15px 5px;
    }
    .footer {
        background: #f6f9ff;
        padding: 0 0 30px 0;
        font-size: 14px;
    }
    .footer .footer-top {
        border-top: 1px solid #e1ecff;
        border-bottom: 1px solid #e1ecff;
        padding: 30px 0 30px 0;
    }
    .footer .footer-top .social-links a {
        font-size: 20px;
        display: inline-block;
        color: #0C9869;
        line-height: 0;
        margin-right: 10px;
        transition: 0.3s;
    }
    .footer .footer-top .social-links a:hover {
        color: #24a2b8;
    }
    .footer .footer-top img {
        width: 120px;
        padding-bottom: 10px;
    }
    .footer .footer-top h4 {
        font-size: 12px;
        font-weight: bold;
        color: #0C9869;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 8px;
    }
    .footer .copyright {
        text-align: center;
        padding-top: 30px;
        color: #0C9869;
        font-size: 12px;
    }
    .contact {
        text-align: center;
    }
    .contact .info-box {
        color: #444444;
        background: #fafbff;
        padding: 15px 0 10px 0;
        text-align: center;
        border-radius: 10px;
    }
    .contact .info-box i {
        font-size: 25px;
        line-height: 0;
        color: #0C9869;
        ;
    }
    .contact .info-box a {
        font-size: 11px;
        color: #0C9869;
        font-weight: 700;
        text-decoration: none;
    }
    .contact .info-box .getkontak h3 {
        color: #0C9869;
        font-weight: 700;
    }
    .contact .php-email-form {
        background: #fafbff;
        padding: 30px;
        border-radius: 10px;
    }
    .contact .php-email-form .error-message {
        display: none;
        color: #0C9869;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        margin-bottom: 24px;
        font-weight: 700;
    }
    .contact .php-email-form .sent-message {
        display: none;
        color: #013289;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        margin-bottom: 24px;
        font-weight: 700;
    }
    .contact .php-email-form .loading {
        display: none;
        background: #013289;
        text-align: center;
        padding: 15px;
        margin-bottom: 24px;
    }
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        box-shadow: none;
        font-size: 12px;
        border-radius: 5px;
        color: #23233C;
        font-weight: 200px;
    }
    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        border-color: #22448C;
    }
    .contact .php-email-form input {
        padding: 10px 15px;
    }
    .contact .php-email-form textarea {
        padding: 12px 15px;
    }
    .contact .php-email-form button[type=submit] {
        padding: 4px 16px;
        border-radius: 4px;
        color: #fff;
        background: #0C9869;
        border: 1px solid #23A2B8;
        font-size: 12px;
    }
    .contact .php-email-form button[type=submit]:hover {
        background: transparent;
        padding: 4px 16px;
        border-radius: 4px;
        color: #0C9869;
        border: 1px solid #0C9869;
        font-size: 12px;
    }
    .img-pamfletformatiklan {
        width: 100%;
        text-align: center;
    }
    .section-headerhalokerja {
        text-align: center;
        padding-bottom: 30px;
    }
    .section-headerhalokerja h2 {
        margin: 10px 0 0 0;
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: #0C9869;
        text-transform: uppercase;
    }
    .section-headerhalokerja p {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0;
        color: #000000;
    }
    .ft .entry {
        padding: 30px;
    }
    .pasangiklanmobile {
        padding: 10px 0 50px 0;
    }
    .pasangiklanmobile .pasangiklanmobile-slider .swiper-pagination {
        position: relative;
        padding-top: 10px;
    }
    .pasangiklanmobile .img-carapasangmobile {
        width: 100%;
        transition: 0.6s;
    }
    .pasangiklanmobile .pasangiklanmobile-slider .swiper-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: transparent;
        opacity: 1;
        border: 1px solid #0C9869;
    }
    .pasangiklanmobile .pasangiklanmobile-slider .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #0C9869;
    }
    .area {
        text-align: center;
        margin: 0 0 50px 0;
        padding: 10px 5px 5px 20px;
    }
    .area .info-box {
        background: #fff;
        box-shadow: 0px 3px 3px rgba(1, 41, 112, 0.1);
        padding: 2px 12px;
        text-align: center;
        border-radius: 10px;
    }
    .area .info-box .img-pulau {
        width: 100%;
    }
    .area .info-box p {
        font-size: 11px;
        color: #0C9869;
        font-weight: 700;
    }
    .area .info-box a {
        text-decoration: none;
    }
    .perusahaan {
        text-align: center;
        margin: 0 0 50px 0;
        padding: 10px 5px 5px 20px;
    }
    .perusahaan .info-box {
        background: #fff;
        box-shadow: 0px 3px 3px rgba(1, 41, 112, 0.1);
        padding: 15px 20px;
        text-align: center;
        border-radius: 6px;
    }
    .perusahaan .info-box .img-perusahaan {
        width: 100%;
    }
    .industri {
        text-align: center;
        margin: 0 0 50px 0;
    }
    .industri .info-box {
        background: #fafbff;
        box-shadow: 0px 3px 3px rgba(1, 41, 112, 0.1);
        padding: 10px 5px 10px 15px;
        text-align: center;
        border-radius: 6px;
        height: 70px;
    }
    .industri .info-box .img-industri img {
        width: 50px;
    }
    .industri .info-box p {
        font-size: 10px;
        color: #055160;
        font-weight: 700;
        text-align: left;
        line-height: 15px;
        padding-top: 10px;
    }
    .industri .info-box a {
        text-decoration: none;
    }
    .blog {
        padding: 10px 0 25px 0;
    }
    .blog .sidebar {
        margin: 0 0 20px 0;
    }
    .blog .sidebar .sidebar-item {
        margin-bottom: 30px;
    }
    .blog .sidebar .recent-posts .post-item+.post-item {
        margin-top: 15px;
    }
    .blog .sidebar .recent-posts img {
        width: 80px;
        float: left;
    }
    .blog .sidebar .recent-posts h4 {
        font-size: 13px;
        margin-left: 95px;
        font-weight: bold;
    }
    .blog .sidebar .recent-posts h4 a {
        color: #000000;
        transition: 0.3s;
        text-decoration: none;
    }
    .blog .sidebar .recent-posts h4 a:hover {
        color: #000;
    }
    .blog .entry-meta {
        margin-bottom: 15px;
        color: #000000;
    }
    .blog .entry-meta ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .blog .entry-meta ul li+li {
        padding-left: 5px;
    }
    .blog .entry-meta i {
        font-size: 16px;
        margin-right: 8px;
        line-height: 0;
    }
    .blog .entry h2 {
        color: #000;
        font-size: 14px;
        padding: 10px 0;
    }
    .blog .entry-meta a {
        color: #777777;
        font-size: 12px;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
    }
    .blog .entry-meta {
        margin-bottom: 15px;
        color: #000000;
    }
    .blog .entry-meta ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        padding-left: 13px;
        margin: 0;
    }
    .blog .entry-meta ul li+li {
        padding-left: 3px;
    }
    .blog .entry-meta i {
        font-size: 10px;
        margin-right: 4px;
        line-height: 0;
    }
    .blog .entry-meta a {
        color: #777777;
        font-size: 10px;
        display: inline-block;
        line-height: 1;
    }
    .blog .entry .entry-content p {
        color: #777777;
        font-size: 12px;
    }
    .detailsatulowongan {
        padding: 20px 0;
    }
    .detailsatulowongan .entry {
        padding: 10px;
    }
    .detailsatulowongan .entry .entry-img {
        max-height: 440px;
        margin: -30px -30px 10px -30px;
        overflow: hidden;
    }
    .detailsatulowongan .entry h2 {
        font-size: 18px;
        font-weight: bold;
    }
    .detailsatulowongan .entry .entry-tagss {
        padding-top: 10px;
        border-top: 1px solid #e6e6e6;
    }
    .detailsatulowongan .entry .entry-tagss i {
        color: #0C9869;
        display: inline;
    }
    .detailsatulowongan .entry .entry-tagss a {
        color: #0C9869;
        transition: 0.3s;
    }
    .detailsatulowongan .sidebar-deskripsi .sidebar-img img {
        width: 100%;
        padding: 15px;
    }
    .detailsatulowongan .sidebar-deskripsi h2 {
        font-size: 28px;
        font-weight: bold;
        padding: 15px;
    }
    .detailsatulowongan .sidebar-deskripsi p {
        font-size: 14px;
        padding: 0 15px;
    }
    .detailsatulowongan .sidebar-deskripsi h3 {
        font-size: 14px;
        padding: 0 15px;
        color: #000;
        font-weight: bold;
    }
    .detailsatulowongan .entry .entry-tagss .cats {
        list-style: none;
        display: inline;
        padding: 0 20px 0 0;
        font-size: 13px;
    }
    .detailsatulowongan .entry .entry-tagss .cats li {
        display: inline-block;
    }
    .detailsatulowongan .sidebar .tags {
        margin-bottom: -10px;
    }
    .detailsatulowongan .sidebar .tags ul {
        list-style: none;
        padding: 0;
    }
    .detailsatulowongan .sidebar .tags ul li {
        display: inline-block;
    }
    .detailsatulowongan .sidebar .tags ul a {
        color: #ffffff;
        background-color: #0C9869;
        font-size: 12px;
        padding: 4px 10px;
        display: inline-block;
        transition: 0.3s;
    }
    .detailsatulowongan .sidebar-bagikan {
        padding: 30px;
    }
    .detailsatulowongan .sidebar-bagikan p {
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }
    .detailsatulowongan .sidebar-bagikan .social-links a {
        font-size: 20px;
        display: inline-block;
        color: #0C9869;
        line-height: 0;
        margin-right: 10px;
        transition: 0.3s;
    }
    .detailsatulowongan .info-box {
        margin-bottom: 20px;
    }
    .detailsatulowongan .info-box h3 {
        font-size: 12px;
        font-weight: 600;
        margin: 20px 20px 0 0;
    }
    .detailsatulowongan .info-box a {
        text-decoration: none;
    }
    .detailsatulowongan .getstarted,
    .detailsatulowongan .getstarted:focus {
        background: #0C9869;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }
    .detailsatulowongan .getstarted:hover,
    .detailsatulowongan .getstarted:focus:hover {
        color: #fff;
        background: #157d8f;
    }
}